@import "./icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #050505;

    --background-secondary: #e4e6eb;
    --background-comment: #f0f2f5;

    --card: #fff;
    --card-foreground: #050505;
    --card-flat: #f7f8fa;

    --popover: #fff;
    --popover-foreground: #050505;

    --primary: #0866ff;
    --primary-foreground: #fff;

    --secondary: #e4e6eb;
    --secondary-foreground: #050505;

    --muted: #e4e6eb;
    --muted-foreground: #65676b;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: #f02849;
    --destructive-foreground: #fff;

    --link-blue: #0064d1;

    --hover: rgba(0, 0, 0, 0.05);
    --hover-media: rgba(68, 73, 80, 0.15);

    --border: #dddfe2;
    --separator: #ced0d4;
    --input: #ccced2;
    --ring: 222.2 84% 4.9%;
    --positive: #31a24c;
    --scroll-thumb: #bcc0c4;
    --active: rgba(0, 0, 0, 0.1);
    --tooltip: rgba(11, 11, 11, 0.8);
    --radius: 0.5rem;
  }

  .dark {
    --background: #fff;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: #242526;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: #65676b;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: #ccced2;
    --input: #ccced2;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .filter-accent {
    filter: invert(19%) sepia(70%) saturate(5671%) hue-rotate(203deg)
      brightness(96%) contrast(101%);
  }

  .filter-primary-icon {
    filter: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%)
      hue-rotate(177deg) brightness(104%) contrast(91%);
  }

  .overlay-story {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.0029348165) 11.79%,
      rgba(0, 0, 0, 0.01134518) 21.38%,
      rgba(0, 0, 0, 0.02464) 29.12%,
      rgba(0, 0, 0, 0.0422282) 35.34%,
      rgba(0, 0, 0, 0.06351835) 40.37%,
      rgba(0, 0, 0, 0.08792) 44.56%,
      rgba(0, 0, 0, 0.11484165) 48.24%,
      rgba(0, 0, 0, 0.1436918) 51.76%,
      rgba(0, 0, 0, 0.17388) 55.44%,
      rgba(0, 0, 0, 0.20481475) 59.63%,
      rgba(0, 0, 0, 0.23590525) 64.66%,
      rgba(0, 0, 0, 0.26656) 70.88%,
      rgba(0, 0, 0, 0.2961882) 78.62%,
      rgba(0, 0, 0, 0.32419835) 88.21%,
      rgba(0, 0, 0, 0.35) 100%
    );
  }
}

@layer components {
}
